<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>com.example.test</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>GameFare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>gamefare</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.branch.sdk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gamefare</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>2459b4447ed7a20d3bcd1b3217a821616dbc3c0f</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>mailto</string>
		<string>telprompt</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiYmlyb2xsZWF1ZiIsImEiOiJjampuMHByenoxNmRoM2ttcHVqNmd0bzFvIn0.Fml-ls_j4kW_OJViww4D_w</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>test</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>test</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>test</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This is so we can display your booked appointments on your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera if you would like to take a photo for your profile picture, or live stream a match.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need to access your contacts for you to invite your friends.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need to access your location to show events in your area.</string>
	<key>NSLocationUsageDescription</key>
	<string>We need to access your location to show events in your area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to access your location to show events in your area.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to the microphone if you would like to live stream your matches</string>
	<key>NSMotionUsageDescription</key>
	<string>test</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos to be able to store and upload files at your discretion.</string>
	<key>NSSiriUsageDescription</key>
	<string>test</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>test</string>
	<key>UIAppFonts</key>
	<array>
		<string>CircularStd-Bold.otf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>icomoon.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AvenirLTStd-Book.otf</string>
		<string>AvenirLTStd-Medium.otf</string>
		<string>AvenirLTStd-Roman.otf</string>
		<string>Avenir-Book.ttf</string>
		<string>Avenir-Light.ttf</string>
		<string>Avenir-Roman.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
  <string>Light</string>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <true/>
	<key>branch_app_domain</key>
	<string>gamefare.app.link</string>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_deNF7ruAiHN7qKjWA8xlOekkAyonPxeV</string>
		<key>test</key>
		<string>key_live_deNF7ruAiHN7qKjWA8xlOekkAyonPxeV</string>
	</dict>
	<key>kTCCServiceMediaLibrary</key>
	<string>test</string>
</dict>
</plist>
