<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022232395517-64m5ng9tpia39oqqme48im4q2bcbgkrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022232395517-64m5ng9tpia39oqqme48im4q2bcbgkrj</string>
	<key>API_KEY</key>
	<string>AIzaSyDhYhLRznDvY2fYLUxFtYzYIs8QaCdn9_I</string>
	<key>GCM_SENDER_ID</key>
	<string>1022232395517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gamefareInc</string>
	<key>PROJECT_ID</key>
	<string>getplayd</string>
	<key>STORAGE_BUCKET</key>
	<string>getplayd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022232395517:ios:5ebd60032028105777c894</string>
	<key>DATABASE_URL</key>
	<string>https://getplayd.firebaseio.com</string>
</dict>
</plist>